{% extends "base-layout.html" %}
{% block content %}
<div class="container">
    <div class="my-3">
        <h2 class="me-3">Related Movie Recommendation <a href="{{ url_for('index') }}" style="font-size: 15px; vertical-align: top">[Home]</a></h2>
    </div>

    <hr>

    <div class="row my-4">
        <form class="col-6" action="{{ url_for('get_related_item') }}" method="get">
            <div class="row">
                <div class="col-4">
                    <label>
                        <input type="text" class="form-control" name="item_id" value="{{ item_id }}" placeholder="Movie ID">
                    </label>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success mx-1" type="submit">Output</button>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-primary mx-1" href="{{ url_for('get_related_item') }}?is_random=true" role="button">Random</a>
                </div>

            </div>
        </form>
    </div>

    <hr>

    <div class="d-flex row">
        <div class="col p-3">
            {% if seed_item %}
            <h4>[Seed Movie] </h4>
            <table class="table table-sm caption-top">
                <div class="row"  >
                    <div class="row-cols-auto border px-2 py-2 small">
                        <div class="mb-1">MovieID: {{ seed_item['item_id'] }}</div>
                        <div class="mb-1">Title: {{ seed_item['title'] }}</div>
                        <div class="mb-1">Genres: {{ seed_item['genres'] }}</div>
                        <div class="mb-1">Release: {{ seed_item['year'] }}</div>
                        <a href="{{ seed_item['url'] }}">Link</a>
                    </div>
                </div>
            </table>
            {% endif %}
        </div>
        <div class="col p-3">
            {% if rec_items %}
            <h4>[Recommended Movies] (#{{ rec_items|length }})</h4>
            <table class="table table-sm caption-top">
                <div class="row">
                    {% for rec_item in rec_items %}
                    <div class="row-cols-auto border px-2 py-2 small">
                        <div class="mb-1">MovieID: {{ rec_item['item_id'] }}</div>
                        <div class="mb-1">Title: {{ rec_item['title'] }}</div>
                        <div class="mb-1">Genres: {{ rec_item['genres'] }}</div>
                        <div class="mb-1">Release: {{ rec_item['year'] }}</div>
                        <a href="{{ rec_item['url'] }}">Link</a>
                    </div>
                    {% endfor %}
                </div>
            </table>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
